<% include layout/header %>
<div style="text-align: center;">
	<h2>Welcome to BRANCH's service</h2>
	<p>Want to reset your password?</p>
	<p>Please click on the link below to reset your password:</p>
	<a href="<%= resetLink %>" class="btn">
		Reset Password
	</a>
	<p>Thank you for using our service.</p>
</div>
<% include layout/footer %>

