			</div>
		</div>
		<div class="footer">
			<div class="social">
				<a href="https://www.facebook.com">
					<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/fb.png" alt="fb">
				</a>
				<a href="https://plus.google.com">
					<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/gg.png" alt="gg">
				</a>
				<a href="https://www.youtube.com">
					<img src="https://s3-ap-southeast-1.amazonaws.com/alfazi/static/youtobe.png" alt="youtobe">
				</a>
			</div>
			<div class="link-menu">
				<ul>
					<li>
						<a href="https://example.com/privacy-policy">Privacy Policy</a>
					</li>
					<li>
						<a href="https://example.com/term-of-use">Terms of use</a>
					</li>
					<li>
						<a href="https://example.com/intro">About us</a>
					</li>
				</ul>
			</div>
			<div class="copyright">
				 Copyright © 2019 Jordan Larson. All Rights Reserved.
			</div>
		</div>
	</div>
</body>
</html>
